.group{
    display: flex;
    align-items: center;
}
.groupItem{
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    min-width: 600px;
    margin-bottom: 8px;
    margin-right: 20px;
}

.title{
    font-weight: 700;
}